.App {
  text-align: center;
}

.header{
  min-height: 100px;
  background-color: steelblue;
}
.title{
  font-size: xx-large;  
}
.S{
  min-height: 100px;
  border: solid black 1px;
  border-bottom: 0px;
}

.sTier{
  background-color: salmon;
}

.Sbucket{

}

.A{
  min-height: 100px;
  border: solid black 1px;
  border-bottom: 0px;
}

.aTier{
  background-color: rgb(255, 191, 127);
}

.Abucket{

}

.B{
  min-height: 100px;
  border: solid black 1px;
  border-bottom: 0px;
}

.bTier{
  background-color: rgb(255, 223, 127);
}

.Bbucket{

}

.C{
  min-height: 100px;
  border: solid black 1px;
  border-bottom: 0px;
}

.cTier{
  background-color: rgb(255,255,127);
}

.Cbucket{

}

.D{
  min-height: 100px;
  border: solid black 1px;
  border-bottom: 0px;
}
.dTier{
  background-color: rgb(191,255,127);
}

.Dbucket{

}

.F{
  min-height: 100px;
  border: solid black 1px;
}

.fTier{
  background-color: rgb(127,255,127);
}

.Fbucket{
  background-color: lightslategrey;
}

img{
  max-width: 200px;
  min-height: 75px;
  margin: 5px;
}

.itemsfunction{
  display: flex;
}

.itemscontainer{
  display: flex;
  padding: 10px;
  max-width: 99vw;
  box-sizing: border-box;
  margin: 5px;
}

.items{
  display: flex;
  flex-wrap: wrap;
  border-right: solid 1px blue;
  flex-grow: 3;
  width: 74vw - 10px;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 20px;
}

.additem{
  padding: 5px;
  flex-grow: 1;
  width: 25vw;
}